/*DEFAULT CSS*/
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }
/*RESETS (SOURCE: https://www.digitalocean.com/community/tutorials/css-minimal-css-reset) */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  ol, ul {
    list-style: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
/* MY STYLING */
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(../images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
    min-width: 100vw;
}
.container{
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
/* PROFILE CARD DIV*/
#profileCard{
  align-self: center;
  height: 375px;
  width: 350px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* inner flex*/
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
/* USER PROFILE */
.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /*PROFILE CARD BACKGROUND PROPERTIES*/
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: top;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#avatar{
  margin-top: 27%;
  border-radius: 100%;
  border: white 5px solid;
} 
.info{
  text-align: center;
  margin-top: 20px;
}
.info h1{
  font-weight: 700;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}
.info h1 span{
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}
.info h2 {
  margin-top: 10px;
  color: hsl(227, 10%, 46%);
  font-weight: 400;
  font-size: 16px;
}


/*  STATS  */
.statics{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid hsl(227, 10%, 46%, 0.15);
}

.dataSets{  
  text-align: center;
}
.nums{
  font-weight: 700;
  font-size: 18px;
  color: hsl(229, 23%, 23%);
}
.userData{
  font-size: 10px ;
  color: hsl(227, 10%, 46%)
}
.attribution{
  position: absolute;
  bottom: 0;
  width: 100%;
}
